@tailwind base;
@tailwind components;
@tailwind utilities;
 
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea{
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
textarea{
    height: 140px;
}
button{
    @apply bg-gray-300;
}
button.primary{
    background-color: #FF385C;
    @apply bg-primary w-full p-2 rounded-2xl text-white;
}
label.perk{
    @apply border p-4 flex rounded-2xl gap-2
}
.offscreen{
    position: absolute;
    left: -9999px;
}
.instructions {
    font-size: 0.75rem;
    color: #fff;
    padding: 0.25rem;
}

.instructions > svg {
    margin-right: 0.25rem;
}
.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.max-w-inherit {
    max-width: inherit;
  }